// .col-public {
//   padding-right: 0px;
 
// }
// .container-body {
//   padding-left: 40px;
//   padding-right: 40px;
// }
// .container-repeated-right {
//   padding-right: 0px;
//   padding-left: 14px;
// }

// .col-3 {
//   padding-right: 10px;
//   padding-left: 10px;

// }
// .col-4 {
//   padding-left: 10px;
//   padding-right: 10px;
// }
// .col-6 {
//  padding-left: 10px;
//  padding-right: 10px;

// }

// .container-main {
//   padding-right: 0px;
// }
// .col-image-package-right {
//   padding-left: 5px;
// }

// .container{
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }

.container-repeated{
  padding-left: 0px;
  padding-right: 0px;
}

.container-needs{
  padding: 0px 0px;
}

.container-header-rows-cat{
  padding: 0px 0px;
}