@font-face {
  font-family: nassim;
  src: url("/assets/fonts/nassim-normal\(1\).ttf");
}

@font-face {
  font-family: yekan;
  src: url("/assets/fonts/yekan-normal.ttf");
}

@font-face {
  font-family: nassim-bold;
  src: url("/assets/fonts/nassim-bold.ttf");
}
@font-face {
  font-family: arabic;
  src: url("/inc/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}
